.App {
  text-align: center;
}

.main-container {
  z-index: 2;
}

a {
  color: #aefefd !important;
  text-decoration: none;
}

a:visited {
  color: #aefefd !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}